body {
  background: #e3f4ff;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  border: #e3f4ff;
  border-width: 8px 8px 0px 8px;
  display: block;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  border: #e3f4ff;
  border-width: 8px;
  display: block;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}